@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Balsamiq Sans;
}
.container {
    width: 750px;
    margin: 0 auto;
}
.navbarup {
    width:100%;
    background-color: lightskyblue;
    color:white;
    display:flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    align-items: center;
    border-radius: 3px;

}
.cities {
    list-style-type: none;
    display:flex;
    gap:50px;
    padding-right: 30px;
    cursor:default;
}

.navbarbottom {
    display:flex;
    background-color: white;
    width:100%;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom:20px;
    align-items: center;
    border-bottom:solid black 3px;
}
.mainbox{
    display:flex;
    margin-top:50px;
    margin-bottom:50px;
    gap:30px;

}
.images {
    width: 50%;
    margin: 0 auto;
    padding:30px;
    border-radius: 50%;
}
.col-1, .col-2, .col-3, .col-4 {
    flex:1;
    text-align: center;
    background-color: lightgrey;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 3px;
}
.some {
    margin-bottom: 5px;
}
.numbers {
    display:flex;
    justify-content:space-around ;
    font-size: larger;
}
.red{
    color:red;
}
.blue {
    color:blue;
}
.cookiebox {
    display:flex;
    justify-content: space-around;
    background-color: lightgrey;
    border:solid black 3px;
    position:relative;
    bottom:60px;
    padding:20px;
    align-items: center;
}
.cookie {
    width:60px;

}
.accept {
    background-color: skyblue;
    border:solid black 3px;
    box-shadow: 2px 3px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;

}